.form-main{
    .form-control-main{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        .form-header {
            padding: 0.5rem 0 1rem 0;
        }
        .form-field-container{
            width: 90%;
            
        }
    }
}