.add-search-sort{
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top:10rem;

    .search-bar{
        display:flex;
        align-items: center;
        .auto-complete { 
            width: 300px; 
            height:50px;
        }
        .search-product-label{
            font-size: 20px;
        }
    }
}
.after-upload{
    display: flex;
    flex-direction: column;
    
    .image-modal{
        width:20px;
        height:50%;
        margin-bottom: 10px;
    }
    .reupload-picture-icon-button{
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        .add-picture-icon{
            margin: 0.6rem;
            font-size: 2rem;
        }
        
    }
}


.add-picture-icon-button{
    width: fit-content;
    justify-content: flex-start;
    .add-picture-icon{
        margin: 0.6rem;
        font-size: 3.5rem;
    }
    
}
.disabled-input{
    display: none;
}